<p><strong>Las R mas atractivas del mercado son:</strong></p>
	<ul>
		<li>{{ motos[0].marca }}</li>
		<li>{{ motos[0].modelo }}</li>
		<li>{{ motos[0].cilindrada }} cc</li>
		<li>{{ motos[0].precio }} euros</li>
	</ul>
	<ul>
		<li>{{ motos[1].marca }}</li>
		<li>{{ motos[1].modelo }}</li>
		<li>{{ motos[1].cilindrada }} cc</li>
		<li>{{ motos[1].precio }} euros</li>
	</ul>
	<ul>
		<li>{{ motos[2].marca }}</li>
		<li>{{ motos[2].modelo }}</li>
		<li>{{ motos[2].cilindrada }} cc</li>
		<li>{{ motos[2].precio }} euros</li>
	</ul>

	<ul>
		<li>{{ motos[3].marca }}</li>
		<li>{{ motos[3].modelo }}</li>
		<li>{{ motos[3].cilindrada }} cc</li>
		<li>{{ motos[3].precio }} euros</li>
	</ul>

